.azeret-mono-normal {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}




/* nav style */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;


}

nav ul li {
    list-style: none;
}



/* Section-----------Banner------------ design*/
.Developer {
    background-image: url(../image/Hero-bg.png);
    width: 1540px;
    height: 595px;


}

.Developer-image {
    width: 248px;
    height: 248px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.Developer-title {
    text-align: center;
}

.Developer-subtitle {
    position: static;
    width: 998px;
    color: rgb(13, 19, 33);
    font-size: 48px;
    font-weight: 800;
    margin-left: 270px;

}

.Developer-subtitles {
    position: static;
    width: 852px;
    font-size: 18px;
    margin-left: 350px;
    color: rgb(13, 19, 33);

}

.Developer-btn {
    text-align: center;

}

.btn {
    width: 180px;
    height: 40px;
    color: rgb(247, 241, 241);
    background: rgb(18, 17, 17);
    padding: 5px;
    border-radius: 5px;
    border: none;
}


/* main style */
main {
    max-width: 1140px;
    margin: 0 auto;

}

/* Section----Why---Web-----Development--- design */

.Web-development {
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
    padding: 80px 97px;
    margin-top: 80px;
}

.web {
    text-align: center;
    margin-top: 70px;
}

.web-title {
    font-size: 32px;
    font-weight: 800;
    color: rgb(13, 19, 33);


}

/* I will Do Coding and Change The World */
.coding {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}


.coding-container {
    max-width: 478px;
}

.coding-containers {
    max-width: 323px;
    margin-right: 200px;

}

.coding-title {
    font-size: 26px;
    font-weight: 700;
}

.coding-image-container {
    max-width: 275px;
}



/* Section-------My ----Inspiration--- design */
.inspiration {
    padding: 80px 97px;
    text-align: center;


}

.inspiration-title {
    font-size: 32px;
    font-weight: 800;
    color: rgb(13, 19, 33);
}

.inspiration-description {
    font-size: 17px;
    color: rgb(13, 19, 33);

}

.inspiration-video {
    padding: 10px 0px 10px 80px;

}


/* Section-------My ----Current-------Target----- design */


#current-Box-container {
    display: flex;
    gap: 40px;
}

.Current-target-container {
    width: 390px;
    height: 300px;
    padding: 30px;
    border-radius: 16px;
    background: rgba(247, 6, 6, 0.05);
    box-shadow: 0px 6px 40px 0px rgb(242, 245, 245);
    margin-bottom: 80px;
}

.Current-target-containers {
    width: 390px;
    height: 300px;
    padding: 30px;
    border-radius: 16px;
    background: rgba(34, 150, 123, 0.05);
    box-shadow: 0px 6px 40px 0px rgb(242, 245, 245);
    margin-bottom: 80px;
}

.Current-targets-container {
    width: 390px;
    height: 300px;
    padding: 30px;
    border-radius: 16px;
    background: rgba(243, 39, 39, 0.05);
    box-shadow: 0px 6px 40px 0px rgb(242, 245, 245);
    margin-bottom: 80px;
}


.Current-target {
    padding: 80px 97px;
    text-align: center;
}


.Current-target-title {
    font-size: 26px;
    font-weight: 800;
    color: rgb(13, 19, 33);
}

.Current-target-description {
    font-size: 17px;
    color: rgb(13, 19, 33);
}

.add-link {
    margin-top: 120px;
}

.add-links {
    margin-top: 90px;
}



/* Section-------I ----need-------support----- design */

.need-support {
    text-align: center;
    background-image: url(../image/hand.jpg);
    width: 1140px;
    height: 442px;
    margin-bottom: 40px;
    border-radius: 10px;

}

.support {
    padding: 85px 0px;
    text-align: center;
    align-items: center;
}

.support-box {
    text-align: center;

}

.Support-title {

    font-size: 32px;
    font-weight: 800px;
    color: aliceblue;
}

.Support-description {
    width: 606px;
    font-size: 17px;
    margin-left: 240px;
    color: rgb(255, 255, 255);
}

.input {
    text-align: left;
    width: 550px;
    height: 45px;
    border: none;
    border-radius: 5px;



}

.submit-btn {
    font-size: 18px;
    font-weight: 600;
    width: 120px;
    height: 45px;
    border: none;
    border-radius: 5px;
    color: rgb(13, 19, 33);

}



/* Section-------------------Icon ---------------------- design */

footer {
    max-width: 1140px;
    height: 80px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
}